/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Creepster";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Creepster-Regular.woff2") format("woff2");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}
